#wtpc-dimensions-calculator {
	margin-bottom: 16px;
}

#wtpc-dimensions-calculator > p {
	color: red;
}

#wtpc-dimensions-calculator td {
	padding: 8px 14px;
	background: transparent;
	border: 0;
}

#wtpc-dimensions-calculator td:nth-child(2) {
	text-align: right;
}
